body {
    background: #f9e9ff;
    font-family: Arial, sans-serif;
}

.container {
    width: 350px;
    margin: 70px auto;
    background: #ffffff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(218, 165, 244, 0.35);
}

h2 {
    text-align: center;
    color: #b657e8;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
    color: #7e3ea1;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #cfa6ff;
    outline: none;
}

input:focus {
    border-color: #b657e8;
    box-shadow: 0 0 5px rgba(182, 87, 232, 0.5);
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background: #d18dfd;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #c174fa;
}

p {
    text-align: center;
    margin-top: 12px;
    color: #7e3ea1;
}

a {
    color: #b657e8;
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}
